body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    background: url(https://images.unsplash.com/photo-1608501078713-8e445a709b39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px 2px rgb(39, 26, 34);    
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(123, 112, 223, 0.5);
}

.username {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px 2px rgb(39, 26, 34);    

}

.password {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px 2px rgb(44, 30, 39);    

}

.sign-in {
    margin: 10px 0px;
    border: none;
    background-color: rgb(224, 55, 112);
    border-radius: 5px;
    height: 35px;
    color: black;
    cursor: pointer;
}

h1 {
    font-style: oblique;
    font-weight: bold;
    font-family: monospace;
    font-size: 40px;
    color:rgb(163, 233, 209)
}

.sign-in:hover {
    background-color: aquamarine;
}